[run]
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */site-packages/autobahn/*
    */site-packages/coverage/*
    */site-packages/nose/*

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover